output.pptx
example.docx
/images
/myenv
get-pip.py
your_pdf_file.pdf
output_excel_file.xlsx
output.xlsx
converted_word_file.docx
output.docx
Sample.pdf
PdfToDocx.docx
*.pdf
*.png
*.txt
!exmaple.pdf
!sample_resume.pdf